body {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  #game-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
  }
  
  #game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }

  #score-box {
    font-size: 20px;
    border: solid;
    padding: 15px;
    border-radius: 5px;
    border-color: red;
  }

  #score1, #score2 {
    font-size: 20px;
    font-weight: bold;
  }
  
  #game-screen {
    display: none;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url(./images/fondecran.PNG);
    background-size: cover;
    
  }

  #game-end {
    display: none;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana";
  }
    
  body button {
    font-size: 30px;
    background-color: #0e26b1;
    color: #fff023;
    padding: 15px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  